.cat-tc-one {width: 100%; padding: 30px 0; float: left; background: #fafafa;

.active-bar {float: left; width: 100%; height: 80px; background: #fff; box-shadow: 0px 4px 18px 0px rgba(227, 227, 227, 0.47);
    
.ui-in {position: relative; float: left; height: 100%; width: 216px;  border-right: solid 1px #e9e9e9; background: url(../img/ui-b.svg); background-position: right center; background-repeat: no-repeat; overflow: hidden;}    
.stadt{position: absolute; top:0px; left:0px; display: block; width: 100%;  padding: 0px 35px;  background:transparent;}
select {width: 150%; height: 100%; height: 80px;    padding: 30px 0px; background: transparent;}    
.r-line {width: 470px; background: transparent;}    
.m-line {width: 308px;}
select::after {content: ''; position: absolute; top:0px; left:0px; width: 215px; height: 100%; background: transparent;}
}

#price,#price2 {padding:5px; width:50px; background: transparent;}
.lab-r {float: right; margin-top:48px; margin-right: 32px; font-size:12px;}
.lab-l {float: left; margin-top:48px; margin-left: 35px; font-size:12px;}
#options { width:300px; padding:10px;}
#slider_price {margin-top:35px;}     
    
.tcw2 {width: 1240px;}      
.title-bar {float: left; width: 100%; margin: 50px 0; border-left: solid 10px #fafafa; border-right: solid 10px #fafafa;
h2 {float: left;
a {font-size: 20px; background: #eeeeee; display: inline-block; padding: 10px 30px; margin-left: 25px; border-radius: 45px }}

  
    
.button-bar {float: right;
.button {float: left; display: inline-block; margin: 0 12px; span{padding: 12px 45px;}}    
.but-cat {float: left; display: inline-table; margin: 0 12px; height: 45px;
    
.mid {position: relative; display: table-cell; vertical-align: middle; margin: 0 auto; 
.window {position: relative; display: block; width: 18px; height: 18px; .bgCCC; background: url(../img/windows-n.svg); }  
.w-active {background: url(../img/windows.svg);}    
.mapi {position: relative; display: block; width: 13px; height: 18px; .bgCCC; background: url(../img/map-ico.svg);}  
.m-active {background: url(../img/map-ico-a.svg);}
}}}}
    



.one-tc {float: left; display: inline-block; float: left; width: 33.3333%;  border-left: solid 10px #fafafa; border-right: solid 10px #fafafa; margin-bottom: 28px;
.one{width: 100%; height: 270px; .image{ border: 0px solid;}}
.one-info {float: left; width: 100%; padding: 18px 20px; height: 260px; background: #fff;
ul{float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #e8e8e8; 
li {float: left; display: inline-block; width: 100%; white-space: nowrap; padding: 10px 0px;}    
span {margin-left: 10px;}
}
.shops {float: left; width: 100%;display: block;
strong {display: inline; font-family: @fontB;}    
    a {display: inline-block; color: @colfirm2; padding: 7px 0;}
a.reed-sh {color: #939393; margin-left: 10px;} 
    .reed-sh:hover {color: @colfirm}
}
    
.foot-ar {position: relative;float: left; width: 100%; margin-top: 32px; height: 36px;
.numb {float: left; display: inline-block; background: #eeeeee; border-radius:25px;  span {display: block; font-family: @fontB; font-size: 16px; color: #3b3b3b; padding: 8px 24px;}}    
}
    .desc {float: left; display: inline-table; height: 100%; margin-left: 15px;
        span {display:table-cell; vertical-align: middle; font-size: 16px; }    
}}}


    
    
 .liners .one-tc {float: left; display: inline-block; float: left; width: 100%;  border-left: solid 10px #fafafa; border-right: solid 10px #fafafa;
.one{ display: inline-block; width: 30%; height: 270px; .image{ border: 0px solid;}}
.one-info { display: inline-block; float: left; width: 70%; padding: 18px 20px; height: 270px; background: #fff;
}}
 
    
    
.paginator {float: left; width: 100%; text-align: center; padding: 75px 15px;
a {color: #999999; font-size: 16px; padding: 10px 18px; background: #fff; border-radius: 5px; margin: 0 5px; border: solid 1px #fff}
    a:hover {opacity: 0.75;}    
.active {color: @colfirm2}
.next { color: #fff; background: @colfirm2}
}    
   

}



@media screen and (min-width:1024px) and (max-width:1279px)   {
    
    
.tc-menu li {
    width: 50%;
    margin: 10px 0;
}    
    
    
.tc-menu li .one {
    position: relative;
    margin: 0 auto;
    float: none;
}  
    
.cat-tc-one .active-bar .ui-in {
    width: 172px;
}
    
.cat-tc-one .active-bar .r-line {
    width: 322px;
} 
    
.cat-tc-one .active-bar .m-line {
    width: 308px;
}
    
.cat-tc-one .one-tc {
    width: 50%;
}
    
.cat-tc-one .liners .one-tc .one {
    width: 40%;
}
    
.cat-tc-one .liners .one-tc .one-info {
    width: 60%;
}
    
}


@media screen and (min-width:768px) and (max-width:1023px)   {

    
.tc-menu li {
    width: 50%;
    margin: 10px 0;
    border-left: solid 5px transparent; 
    border-right: solid 5px transparent; 
    height: 115px;
}    
    
    
.tc-menu li .one {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 100%;
}  
  
.tc-menu li .one .icon {
    width: 35%;
}    
   
.tc-menu li .one .one-desc {
    width: 65%;
}    
    
 
    
.cat-tc-one .active-bar {
    height: 240px;
}    
    
.cat-tc-one .active-bar .ui-in {
    width: 50%;
    height: 80px;
}
    
.cat-tc-one .active-bar .r-line {
    width: 100%;
} 
    
.cat-tc-one .active-bar .m-line {
    width: 100%;
}
    
    
.cat-tc-one .title-bar h2 {
    font-size: 24px;
}  
    
.cat-tc-one .title-bar h2 a {
    font-size: 15px;
}    
    
    
.cat-tc-one .one-tc {
    width: 50%;
}
    
.cat-tc-one .liners .one-tc .one {
    width: 40%;
}
    
.cat-tc-one .liners .one-tc .one-info {
    width: 60%;
}
    
}


@media screen and (min-width:600px) and (max-width:767px)   {

    
.tc-menu li {
    width: 100%;
    margin: 10px 0;
    border-left: solid 5px transparent; 
    border-right: solid 5px transparent; 
    height: 145px;
}    
    
    
.tc-menu li .one {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 100%;
}  
  
.tc-menu li .one .icon {
    width: 35%;
}    
   
.tc-menu li .one .one-desc {
    width: 65%;
}    
    
 
    
.cat-tc-one .active-bar {
    height: 240px;
}    
  
.cat-tc-one .title-bar .button-bar .but-cat {
    display: none;
} 
    
.cat-tc-one .title-bar .button-bar {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
    
.cat-tc-one .title-bar .button-bar .button {
    float: none;
}
    
.cat-tc-one .active-bar .ui-in {
    width: 50%;
    height: 80px;
}
    
.cat-tc-one .active-bar .r-line {
    width: 100%;
} 
    
.cat-tc-one .active-bar .m-line {
    width: 100%;
}
    

.cat-tc-one .title-bar h2 {
    font-size: 24px;
    position: relative;
    text-align: center;
    float: none;
}
    
.cat-tc-one .title-bar h2 a {
    font-size: 15px;
}    
    
    
.cat-tc-one .one-tc {
    width: 100%;
}
    
.cat-tc-one .liners .one-tc .one {
    width: 40%;
}
    
.cat-tc-one .liners .one-tc .one-info {
    width: 60%;
}
     
}




@media screen and (min-width:420px) and (max-width:599px)   {

.tc-menu .content {
    padding-left: 15px;
    padding-right: 15px;
}    
    
    
.tc-menu li {
    width: 100%;
    margin: 10px 0;
    border-left: solid 5px transparent; 
    border-right: solid 5px transparent; 
    height: 145px;
}    
    
    
.tc-menu li .one {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 100%;
}  
  
.tc-menu li .one .icon {
    width: 35%;
}    
   
.tc-menu li .one .one-desc {
    width: 65%;
}    
    
 
    
.cat-tc-one .active-bar {
    height: 320px;
}    
  
.cat-tc-one .title-bar .button-bar .but-cat {
    display: none;
} 
    
.cat-tc-one .title-bar .button-bar {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
    
.cat-tc-one .title-bar .button-bar .button {
    float: none;
}
    
.cat-tc-one .active-bar .ui-in {
    width: 100%;
    height: 80px;
}
    
.cat-tc-one .active-bar .r-line {
    width: 100%;
} 
    
.cat-tc-one .active-bar .m-line {
    width: 100%;
}
    

.cat-tc-one .title-bar h2 {
    font-size: 18px;
    position: relative;
    text-align: center;
    float: none;
}
    
.cat-tc-one .title-bar h2 a {
    font-size: 15px;
}    
    
    
.cat-tc-one .one-tc {
    width: 100%;
}
    
.cat-tc-one .liners .one-tc .one {
    width: 40%;
}
    
.cat-tc-one .liners .one-tc .one-info {
    width: 60%;
}
  
    
.cat-tc-one .paginator {
    padding: 19px 15px;
}    
    
.cat-tc-one .paginator a {
    font-size: 12px;
    padding: 5px 10px;
}

}



@media screen and (max-width:419px)   { 

.wrapper .inner-ct {
    top: 0px;
}    
    
    
    
.tc-menu .content {
    padding-left: 15px;
    padding-right: 15px;
}    
    
    
.tc-menu li {
    width: 100%;
    margin: 10px 0;
    border-left: solid 0px transparent; 
    border-right: solid 0px transparent; 
    height: 115px;
}    
    
.tc-menu li .one .one-desc .title {
    font-size: 12px;
}
    
    
.tc-menu li .one {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 100%;
}  
  
.tc-menu li .one .icon {
    width: 35%;
}    
   
.tc-menu li .one .one-desc {
    width: 65%;
}    
    
 
    
.cat-tc-one .active-bar {
    height: 320px;
}    
  
.cat-tc-one .title-bar .button-bar .but-cat {
    display: none;
} 
    
.cat-tc-one .title-bar .button-bar {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
    
.cat-tc-one .title-bar .button-bar .button {
    float: none;
}
    
.cat-tc-one .active-bar .ui-in {
    width: 100%;
    height: 80px;
}
    
.cat-tc-one .active-bar .r-line {
    width: 100%;
} 
    
.cat-tc-one .active-bar .m-line {
    width: 100%;
}
    

.cat-tc-one .title-bar h2 {
    font-size: 18px;
    position: relative;
    text-align: center;
    float: none;
}
    
.cat-tc-one .title-bar h2 a {
    font-size: 15px;
}    
    
    
.cat-tc-one .one-tc {
    width: 100%;
    border-left: solid 0px #fafafa;
    border-right: solid 0px #fafafa;
}
    
.cat-tc-one .liners .one-tc .one {
    width: 40%;
}
    
.cat-tc-one .liners .one-tc .one-info {
    width: 60%;
}
  
    
.cat-tc-one .paginator {
    padding: 19px 15px;
}    
    
.cat-tc-one .paginator a {
    font-size: 12px;
    padding: 5px 10px;
}    
    
}