.cat-tc-one {width: 100%; padding: 30px 0; float: left; background: #fafafa;

.active-bar {float: left; width: 100%; height: 80px; background: #fff; box-shadow: 0px 4px 18px 0px rgba(227, 227, 227, 0.47);
    
.ui-in {position: relative; float: left; height: 100%; width: 216px;  border-right: solid 1px #e9e9e9; background: url(../img/ui-b.svg); background-position: right center; background-repeat: no-repeat; overflow: hidden;}    
.stadt{position: absolute; top:0px; left:0px; display: block; width: 100%;  padding: 0px 35px;  background:transparent;}
select {width: 150%; height: 100%; height: 80px;    padding: 30px 35px; background: transparent;}    
.r-line {width: 470px; background: transparent;}    
.m-line {width: 308px;}
select::after {content: ''; position: absolute; top:0px; left:0px; width: 215px; height: 100%; background: transparent;}
}

#price,#price2 {padding:5px; width:50px; background: transparent;}
.lab-r {float: right; margin-top:48px; margin-right: 32px; font-size:12px;}
.lab-l {float: left; margin-top:48px; margin-left: 35px; font-size:12px;}
#options { width:300px; padding:10px;}
#slider_price {margin-top:35px;}     
    
.tcw2 {width: 1240px;}      
.title-bar {float: left; width: 100%; margin: 50px 0; border-left: solid 10px #fafafa; border-right: solid 10px #fafafa;
h2 {float: left;
a {font-size: 20px; background: #eeeeee; display: inline-block; padding: 10px 30px; margin-left: 25px; border-radius: 45px }}

  
    
.button-bar {float: right;
.button {float: left; display: inline-block; margin: 0 12px; span{padding: 12px 45px;}}    
.but-cat {float: left; display: inline-table; margin: 0 12px; height: 45px;
    
.mid {position: relative; display: table-cell; vertical-align: middle; margin: 0 auto; 
.window {position: relative; display: block; width: 18px; height: 18px; .bgCCC; background: url(../img/windows-n.svg); }  
.window .active {background: url(../img/windows.svg);}    
.mapi {position: relative; display: block; width: 13px; height: 18px; .bgCCC; background: url(../img/map-ico.svg);}  
.mapi .active {background: url(../img/map-ico-a.svg);}
}}}}
    



.one-tc {float: left; display: inline-block; float: left; width: 33.3333%;  border-left: solid 10px #fafafa; border-right: solid 10px #fafafa;
.one{width: 100%; height: 270px; .image{ border: 0px solid;}}
.one-info {float: left; width: 100%; padding: 18px 20px; height: 260px; background: #fff;
ul{float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #e8e8e8; 
li {float: left; display: inline-block; width: 100%; white-space: nowrap; padding: 10px 0px;}    
span {margin-left: 10px;}
}
.shops {float: left; width: 100%;display: block;
strong {display: inline; font-family: @fontB;}    
    a {display: inline-block; color: @colfirm2; padding: 7px 0;}
a.reed-sh {color: #939393; margin-left: 10px;} 
    .reed-sh:hover {color: @colfirm}
}
    
.foot-ar {position: relative;float: left; width: 100%; margin-top: 32px; height: 36px;
.numb {float: left; display: inline-block; background: #eeeeee; border-radius:25px;  span {display: block; font-family: @fontB; font-size: 16px; color: #3b3b3b; padding: 8px 24px;}}    
}
    .desc {float: left; display: inline-table; height: 100%; margin-left: 15px;
        span {display:table-cell; vertical-align: middle; font-size: 16px; }    
}}}}


