.cat-tc-one {width: 100%; padding: 30px 0; float: left; background: #fafafa;

.active-bar {float: left; width: 100%; height: 80px;  box-shadow: 0px 4px 18px 0px rgba(227, 227, 227, 0.47);
    
    
.ui-in {position: relative; float: left; width: 215px; height: 100%;}   
    
    
.stadt{position: absolute; top:0px; left:0px; display: block; width: 100%;  border-right: solid 1px #e9e9e9; padding: 0px 35px; overflow: hidden;
select {width: 150%; height: 100%; height: 80px;    padding: 30px 35px;}    
.stadt-line {width: 470px;}    
.stadt-m-line {width: 310px; .uist {width: 310px}}}
    
    
        select::after {content: ''; position: absolute; top:0px; left:0px; width: 215px; height: 100%; background: url(../img/ui-b.svg); background-position: right center; background-repeat: no-repeat;}
    }

}


#price,#price2 {
	padding:5px;
	width:50px;
    background: transparent;
}

.lab-l {float: right;}


#options {
	width:300px;
	padding:10px;
}
#slider_price {
	margin-top:35px;

} 